
# Do not include the PRIMERA_model in the git repository
PRIMERA_model

venv

myenv

optuna

.env

# Ignore the posts data.
data/posts_content_parsed.csv
data/embeddings/posts_content_parsed_embeddings.pkl
data/kde_values/posts_content_parsed.pkl
data/distances/posts_content_parsed_energy_distance_matrix.pkl
data/clustered_graphs/posts dataset.gpickle
