
# Do not include the PRIMERA_model in the git repository
PRIMERA_model

venv

myenv

optuna

.env

# Ignore the posts data.
data/posts_content_parsed.csv
data/embeddings/posts_content_parsed_embeddings.pkl
data/kde_values/posts_content_parsed.pkl
data/distances/posts_content_parsed_energy_distance_matrix.pkl
data/clustered_graphs/posts dataset.gpickle

# Ignore the posts_5k data.
data/posts_5k_sampled.csv
data/embeddings/posts_5k_sampled_embeddings.pkl
data/kde_values/posts_5k_sampled.pkl
data/distances/posts_5k_sampled_energy_distance_matrix.pkl
data/clustered_graphs/posts_5k_sampled.gpickle

# Ignore the posts_1k data.
data/posts_1k_sampled.csv
data/embeddings/posts_1k_sampled_embeddings.pkl
data/kde_values/posts_1k_sampled.pkl
data/distances/posts_1k_sampled_energy_distance_matrix.pkl
data/clustered_graphs/posts_1k_sampled.gpickle

# Ignore the newsgroup data.
data/newsgroups.csv
data/newsgroups_1k_sampled.csv
data/embeddings/newsgroups_1k_sampled_embeddings.pkl
data/distances/newsgroups_1k_sampled_energy_distance_matrix.pkl
data/kde_values/newsgroups_1k_sampled.pkl
# data/clustered_graphs/newsgroups_1k_sampled.gpickle